/* Reseteo básico para quitar los márgenes del navegador */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Evita scroll horizontal accidental */
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}